Functions

In [1]:
num=24

In [2]:
def even_odd(num):
    if num%2==0:
        print('The number is even')
    else:
        print('The number is odd')

In [3]:
even_odd(23)

The number is odd

In [6]:
## Positional Argument
## Keyword Argument
def hello(name,age=21):
    print("My name is {} and age is {}". format(name,age))

In [7]:
hello('Harsh')

My name is Harsh and age is 21

In [8]:
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [9]:
hello("Harsh","Saini", age=18, Dob=2003)

('Harsh', 'Saini')
{'age': 18, 'Dob': 2003}

In [14]:
St=['Harsh','Saini']
dict_args={'age': 18, 'DOB': 2003}

In [15]:
hello(*St, **dict_args)

('Harsh', 'Saini')
{'age': 18, 'DOB': 2003}

Lambda Function 
Anonymous function.
A function with no name
## Possible only if we have a single function

In [16]:
def addition(a,b):
    return a+b

In [17]:
addition(2,5)

7

In [18]:
addition=lambda a,b:a+b

In [19]:
addition(12,15)

27

Map Function in Python

In [21]:
def even_or_odd(num):
    if num%2==0:
        return "The {} is Even".format(num)
    else:
        return "The {} is odd".format(num)

In [22]:
even_or_odd(34)

'The 34 is Even'

In [23]:
First=[1,2,3,4,5,6,7,8,9,24,56,78]

In [25]:
list(map(even_or_odd, First))

['The 1 is odd',
 'The 2 is Even',
 'The 3 is odd',
 'The 4 is Even',
 'The 5 is odd',
 'The 6 is Even',
 'The 7 is odd',
 'The 8 is Even',
 'The 9 is odd',
 'The 24 is Even',
 'The 56 is Even',
 'The 78 is Even']

Filter Function (it's takes two attributes)

In [27]:
def even(num):
    if num%2==0:
        return True

In [28]:
First=[1,2,3,4,5,6,7,8,9,24,56,78]

In [29]:
list(filer(even, First))

NameError: name 'filer' is not defined